* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  text-align: center;
  background: linear-gradient(to bottom right, #494fcd, #8e92e7);
  color: white;
  padding: 0px 0px;
  height: 370px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
}

.div1 {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.div2 {
  color: white;
  width: 50%;
  font-size: 1.1rem;
  max-width: 600px;
  margin-top: auto;
  margin-bottom: auto;
}

.div2 h2 {
  color: #ffd700;
  margin-bottom: 10px;
}

.div2 p {
  font-family: "Nunito", serif;
}

.line {
  font-family: "Nunito", serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000b0;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  font-size: 1rem;
}

.nav-links a {
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd700;
}

/* Hero Section */
.hero-content {
  box-shadow: -1px 2px 2px 2px rgba(163, 163, 163, 1);
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-content p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.highlight {
  color: #ffd700;
  text-shadow: 2px 2px black;
}

.btn {
  padding: 10px 20px;
  background: #ffd700;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

.active {
  text-decoration: underline;
  color: #ffcc33 !important;
}

/* Projects Section */
.projects-section h2 {
  color: #4e54c8;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.project-card {
  width: 300px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: justify;
  text-justify: inter-word;
}

.project-card h3 {
  margin-bottom: 10px;
  color: #4e54c8;
}

.project-card p {
  color: #555;
}
